/* <--->  */

.scan_log_table td{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom:2px;
  font-size: 15px;
}
.scan_log_table th{
  padding-left: 8px;
  padding-right: 8px;
  font-size: 16px;
}
.es_status{
  font-size:13px;
  position: absolute;
  padding: 5px;
  padding-left:10px;
  bottom:0;
  color:grey;
}
#ext_name{
  font-size: 24px;
}
#reportTab a {

}
.sandbox_detail td{
  border-width: 1px;
  border-style: solid;
  table-layout: fixed;
}
.sandbox_table th, .sandbox_table td {
  padding-top:1px;
  padding-bottom:1px;
}
.sandbox_table td{
  padding-right:55px;
}
.sandbox_table th{
  text-align: left;
}
#flat_bar {
  display: inline;
   vertical-align: top;
 }
 .slider {
   width: 200px;
   height: 20px;
 }

 .slider:hover {
   opacity: 1;
 }
.CodeMirror-sizer{
  margin-left: 0px!important;
}
.CodeMirror-scroll {
  overflow-y: scroll;
  overflow-x: auto;

}

.source_code {
  max-height:500px;
  overflow-y: scroll;
  overflow-x: auto;
  border: solid 3px #000;
  padding-left: 3px;
  background-color:#263238;
  font-size: 13px;
}
#stat_box {
    /* Within a circle, centered text looks prettier. */
  text-align : center;

  padding : 0.5em;

  /* The border will make the circle visible.
     You could also use a background, as
     backgrounds are clipped by border radius */
  border : 0.2em solid #696969;

  /* Let's make sure we have a square.
     If it's not a square, we'll get an
     ellipsis rather than a circle ;) */
  width  : 50;
  font-size: 36px;
  height : 50;
  color:black;
  background-color: #778899;
  /* and let's turn the square into a circle */
  border-radius: 3%;
  display: inline;
  vertical-align: top;
}

.wrapper {
    display: block;
}
.list-group-item.active {
      color: green;
}

#sidebar.active {
    margin-left: -250px;
    background: #f1d74c;

}
#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: green;
    background: #6d7fcc;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

.wrapper {
    display: block;
}
.center-block{
  margin-left: 20%;
}
#sidebar-wrapper {
  position: fixed;
  z-index: 9999;

}
#sidebar {
    width:200px;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.7);
    /* middle layer, i.e. appears below the sidebar */
    z-index: 998;
    opacity: 0;
    /* animate the transition */
    transition: all 0.5s ease-in-out;
}
/* display .overlay when it has the .active class */
.overlay.active {
    display: block;
    opacity: 1;
}

#dismiss {
    width: 35px;
    height: 35px;
    position: absolute;
    /* top right corner of the sidebar */
    top: 10px;
    right: 10px;
}
.caret {
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
}

.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

.caret-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);
}

.nested {
  display: none;
}
ul, #myUL {
  list-style-type: none;
}

#myUL {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.active {
  display: block;
}
