<!-- Bootstrap core CSS -->
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/simple-sidebar.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet" >
<link href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" rel="stylesheet" >
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<center>
<body class = "bg-dark text-white">
  <!--Grid row-->
  <div class="d-flex justify-content-center">

    <!--Grid column-->
    <div class="col-md-5">
      <br>
      <br>
      <br>
{% block content %} {% endblock %}
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</body>
</center>
