{% extends 'base.html' %}

{% block content %}
    <br>
    <h1 class="h1_center" style="text-align:center;"><img width="150" src="/static/logo.png"/>{% block title %}Ext Exposed{% endblock %}</h1>
    <div class="container">
      <div class="center">
        <form action="/search"  method="POST">
        <div class="form-group text-center">
          <label for="search">Search for chrome extension data</label>
          <input type="text"  class="form-control" id="search" name="hunt_query" placeholder="Type your query">
        </div>

        <div class="form-group text-center text-dark">
          <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="card form-group advanced-search-panel ">
        <div class="card-header bg-primary">
          Search Options
        </div>
          <div class="panel panel-default">
            <ul class="list-group">

              <!-- add options here -->
              <li class="list-group-item">
                <div class="form-group">
                  <div class="col-xs-8">
                    <div class="row">
                      <fieldset class="col-xs-12 col-sm-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="static_urls"   class="custom-control-input" id="static_urlsCheck1" checked="">
                          <label class="custom-control-label" for="static_urlsCheck1">Static URLs</label>
                        </div>
                      </fieldset>
                      <fieldset class="col-xs-12 col-sm-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="ext_ids"  class="custom-control-input" id="ext_idsCheck1" checked="">
                          <label class="custom-control-label" for="ext_idsCheck1">  Extension IDs</label>
                        </div>
                      </fieldset>
                      <fieldset class="col-xs-12 col-sm-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="ext_names"  class="custom-control-input" id="ext_namesCheck1" checked="">
                          <label class="custom-control-label" for="ext_namesCheck1">Extension Names</label>
                        </div>

                      </fieldset>
                      <fieldset class="col-xs-12 col-sm-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="sandbox_urls"  class="custom-control-input" id="sandbox_urlsCheck1" checked="">
                          <label class="custom-control-label" for="sandbox_urlsCheck1">Sandbox URLs</label>
                        </div>
                      </fieldset>
                      <fieldset class="col-xs-12 col-sm-6">
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" name="permissions"  class="custom-control-input" id="permissionsCheck1" checked="">
                          <label class="custom-control-label" for="permissionsCheck1">Permissions</label>
                        </div>
                      </fieldset>
                    </div>
                  </div>
                </div>

                <div class="clearfix"></div>
              </li>
              <!-- end of options -->
            </ul>

          </div>
        </div>
      </form>
      </div>
    </div>
{% endblock %}
