{% extends 'base.html' %}

{% block content %}
<br>
<h1 class="h1_center" style="text-align:center;"><img width="150" src="/static/logo.png" />{% block title %}Ext Exposed{% endblock %}</h1>
<div class="container">
  <div class="center">
    <form action="/scan" id="scanForm" method="POST">
      <div class="form-group text-center">
        <label for="search">Submit a chrome extension to scan</label>
        <input type="text" class="form-control" id="scan" name="keyword" placeholder="Chrome extension url or ID">
      </div>

      <div class="form-group text-center text-dark">
        <button type="button" id="submit" class="btn btn-primary">Submit</button>
      </div>
      <div class="card form-group advanced-search-panel ">
        <div class="card-header bg-primary">
          Scan Options
        </div>
        <div class="panel panel-default">
          <ul class="list-group">
            <!-- add options here -->
            <li class="list-group-item">
              <div class="form-group">


                <div class="col-xs-8">
                  <div class="row">
                    <fieldset class="col-xs-12 col-sm-6">
                      <input type="checkbox" name="static" autocomplete="off" checked>
                      Static Analysis
                    </fieldset>
                    <fieldset class="col-xs-12 col-sm-6">
                      <input type="checkbox" name="sandbox" autocomplete="off" checked>
                      Dynamic Analysis (sandbox)
                    </fieldset>
                    <fieldset class="col-xs-12 col-sm-6">
                      <input type="checkbox" name="domains" autocomplete="off" disabled>
                      Yara Rules (comming soon)
                    </fieldset>
                    <fieldset class="col-xs-12 col-sm-6">
                      <input id="sandbox_range" name="time_limit" class="slider form-control" type="range" min="5" max="600" value="20">
                      <br>
                      Duration (seconds): <span id="range_text" />
                    </fieldset>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
            </li>

            <li class="list-group-item">
              <div class="form-group">
                <div class="col-xs-4">
                  <label for="search-location">Yara Signatures</label>
                </div>

                <div class="col-xs-8">
                  <div class="row">
                    <fieldset class="col-xs-12 col-sm-6">
                      <input type="checkbox" name="lnkr value=" enabled" autocomplete="off" checked>
                      Lnkr
                    </fieldset>

                  </div>
                </div>
              </div>

              <div class="clearfix"></div>
            </li>
            <!-- end of options -->
          </ul>

        </div>
      </div>
    </form>
    <div class="modal fade" id="myModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Scan in progress</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <span>Static Analysis:  <p style="display:inline;" id="static_output"> Not running</p></span>
            <div class="progress">
              <div id="static_bar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:5%"></div>
            </div>
            <span>Dynamic Analysis:  <p style="display:inline;" id="dynamic_output"> Not running</p></span>

            <div class="progress">
              <div id="dynamic_bar", aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width:5%"></div>
            </div>


          </div>
          <div class="modal-footer">
            <a id="report_button" href="/"><button type="button" class="btn btn-primary" href="">Open report</button></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<script>
  var slider = document.getElementById("sandbox_range");
  var output = document.getElementById("range_text");
  output.innerHTML = slider.value;

  slider.oninput = function() {
    output.innerHTML = this.value;
  }
</script>
<script type=text/javascript> $SCRIPT_ROOT={{ request.script_root|tojson|safe }}; </script>
<script type="text/javascript">
    $("#submit").on('click', function() {

      $.ajax({
        url: $SCRIPT_ROOT + "/scan",
        data: $("#scanForm").serialize(),
        method: "POST",
        dataType: "json",
        success: function(data, status, request) {
          $('#myModal').modal('show')
          report_url ="/report/"+data['ext_id'];
          $('#report_button').attr('href',report_url);
          if(data['static'] != ""){
            check_job_status($SCRIPT_ROOT+"/status/"+data['static'], 'static')
          }
          if(data['dynamic'] != ""){
            check_job_status($SCRIPT_ROOT+"/status/"+data['dynamic'], 'dynamic')
          }

        },
        error: function(jqXHR, textStatus) {
          alert("Error: "+textStatus)
        }
      });
    });

    function check_job_status(status_url, type) {
    $.getJSON(status_url, function(data) {

    console.log(data);
    if(type == "static"){
      bar = $('#static_bar');
      $('#static_output').text(data.status).show();
    }
    else if(type == "dynamic"){
      bar = $('#dynamic_bar');
      $('#dynamic_output').text(data.status).show();
    }
    switch (data.status) {
      case "unknown":
          break;
      case "finished":
          bar.attr('aria-valuenow',100);
          bar.width('100%');
          bar.addClass('bg-success');
          break;
      case "failed":
          bar.attr('aria-valuenow',100);
          bar.width('100%');
          bar.addClass('bg-danger');
          break;
    case "started":
        bar.attr('aria-valuenow',50);
        bar.width('50%');
        bar.addClass('bg-info');
        setTimeout(function() {
          check_job_status(status_url, type);
        }, 1500);
        break;
      case "queued":
          bar.attr('aria-valuenow',15);
          bar.width('10%');
          bar.addClass('bg-primary');
          setTimeout(function() {
            check_job_status(status_url, type);
          }, 3000);
          break;
      default:
        alert(data.status)
        // queued/started/deferred
        setTimeout(function() {
          check_job_status(status_url, type);
        }, 3000);
    }
  });
}

  </script>

{% endblock %}
