{% extends 'base.html' %}

{% block content %}
<br>
<h1 style="text-align:center;"><img style="filter: invert(100%)" width="100" src="/static/logo.png"/>{% block title %}Ext Exposed{% endblock %}</h1>
<div class="container">
  <div class="center">
    <form action="/scan"  method="POST">
    <div class="form-group text-center">
      <label for="search">Submit a chrome extension to scan</label>
      <input type="text"  class="form-control" id="scan" name="keyword" placeholder="Chrome extension url or ID">
    </div>

    <div class="form-group text-center text-dark">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div class="card form-group advanced-search-panel ">
    <div class="card-header bg-primary">
      Scan Options
    </div>
      <div class="panel panel-default">
        <ul class="list-group">
          <!-- add options here -->
          <li class="list-group-item">
            <div class="form-group">


              <div class="col-xs-8">
                <div class="row">
                  <fieldset class="col-xs-12 col-sm-6">
                    <input type="checkbox" name="static"  autocomplete="off" checked>
                    Static Analysis
                  </fieldset>
                  <fieldset class="col-xs-12 col-sm-6">
                    <input type="checkbox" name="sandbox" autocomplete="off" checked>
                    Dynamic Analysis (sandbox)
                  </fieldset>
                  <fieldset class="col-xs-12 col-sm-6">
                    <input type="checkbox" name="domains" autocomplete="off" disabled>
                    Yara Rules (comming soon)
                  </fieldset>
                  <fieldset class="col-xs-12 col-sm-6">
                    <input id="sandbox_range" name="time_limit" class="slider form-control" type="range" min="5" max="600" value="20">
                    <br>
                    Duration (seconds): <span id="range_text"/>
                  </fieldset>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>
          </li>

          <li class="list-group-item">
            <div class="form-group">
              <div class="col-xs-4">
                <label for="search-location">Yara Signatures</label>
              </div>

              <div class="col-xs-8">
                <div class="row">
                  <fieldset class="col-xs-12 col-sm-6">
                    <input type="checkbox" name="lnkr value="enabled" autocomplete="off" checked>
                    Lnkr
                  </fieldset>

                </div>
              </div>
            </div>

            <div class="clearfix"></div>
          </li>
          <!-- end of options -->
        </ul>

      </div>
    </div>
  </form>
  </div>
</div>
<script>
var slider = document.getElementById("sandbox_range");
var output = document.getElementById("range_text");
output.innerHTML = slider.value;

slider.oninput = function() {
  output.innerHTML = this.value;
}
</script>
{% endblock %}
