{% extends 'external.html' %}
{% block content %}
{% block body %}
<h2>Register</h2>
<form action="/nobotsplz/register/" method="POST">
  <div class="form-group row ">
    <label for="username">Username</label>
    <input type="text" class="form-control"  name="username" id="username" placeholder="Set username">
  </div>
  <div class="form-group row ">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Set email">
    <small id="emailHelp" class="form-text text-muted">We won't share your email with anyone else.</small>
  </div>
  <div class="form-group row">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="Set Password">
  </div>
  <div class="form-group">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" name="optIn" id="optIn" checked="">
      <label class="custom-control-label" for="customSwitch1">Recieve email updates about the platform</label>
    </div>
  </div>

  <input type="submit" value="Register">
</form>
{% endblock %}
{% endblock %}
