{% extends 'base.html' %}

{% block content %}

<h3>Extension Report: {{full_name}} </h3>
<hr>
<div class="container">
    <div class="row" style="align-items: center;">
      <img style="width:64px;height:64px;" src="{{icon}}"/>
        <div class="col-xs-6 col-sm-6">
            <div id="ext_name">
                  <label>{{name}}</label>
            </div>
            <div id="text2">
              <label>Users: {{users}}</label>
            </div>
            <div id="text3">
              <span>ID: <label id="ext_id">{{id}}</label></span>
            </div>
        </div>
        <div class="col align-right">
          Yara Detections:<br>
          {% for tag in tags %}
            <span class="badge" style="background-color:{{tag[1]}}">{{tag[0]}}</span>
          {% endfor %}
        </div>
    </div>
</div>
<div>
<hr>
</div>

<div class="bs-example">
    <ul id="reportTab" class="nav nav-tabs">
        <li class="nav-item">
            <a href="#overview" class="nav-link active" data-toggle="tab">Overview</a>
        </li>
        <li class="nav-item">
            <a href="#source" class="nav-link" data-toggle="tab">Source code</a>
        </li>
        <li class="nav-item">
            <a href="#related" class="nav-link" data-toggle="tab">Related</a>
        </li>
        <li class="nav-item">
            <a href="#comments" class="nav-link" data-toggle="tab">Comments</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="overview">
            <br>
              <div class="row">
                <div class="col-sm-6">
                <div class="card">
                  <div class="card-header bg-primary d-flex justify-content-between align-items-center">
                  {% if perms %}
                    Permissions <span class="badge badge-primary badge-pill bg-secondary">{{perms|count}}</span>
                    </div>
                    <div style="overflow-y: scroll; max-height:200px;">
                    <ul class="list-group">
                      {% for perm in perms %}
                      <li class="list-group-item" style="font-size: 12px;">{{perm}}</li>
                      {% endfor %}
                    </ul>
                    </div>
                  {% else %}
                  Permissions <span class="badge badge-primary badge-pill bg-secondary">0</span>
                  </div>
                  <div>
                    <ul class="list-group">
                      <li class="list-group-item" style="font-size: 12px;">No permissions found.</li>
                    </ui>
                  </div>
                  {% endif %}

                </div>
                </div>
                <div class="col-sm-6">
                <div class="card">
                  <div class="card-header bg-primary d-flex justify-content-between align-items-center">
                      Static URLs
                      <div class="align-right">
                      <span onclick="download_csv('/urls/{{id}}')" style="border-radius: 15px;border: 1px solid #171616;" class="download_icon btn-secondary"> &nbsp;<svg style="padding-bottom:5px;" width="1.3em" height="1.3em" viewBox="0 0 16 16" class="download_icon bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                      </svg>&nbsp;</span>
                      <span class=" align-right badge badge-primary badge-pill bg-secondary">{{urls|count}}</span>
                      </div>
                    </div>
                  <div style="overflow-y: scroll; max-height:200px;">
                    <ul class="list-group">
                      {% for url in urls %}
                        <li class="list-group-item font-small" style="font-size: 12px;">{{url}}</li>
                      {% endfor %}
                    </ul>
                </div>
                </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">

                <div class="card d-flex">
                  <div class="card-header bg-primary d-flex justify-content-between align-items-center">

                  Sandbox Runs
                  <span class="badge badge-primary badge-pill bg-secondary">{{sandboxs|count}}</span>
                  </div>
                  <div style="overflow-y: scroll; height:400px;">
                   <table id="scan_table"  class="table table-striped table-bordered sandbox_table table-dark">
                       <thead class="thead-dark">
                         <tr>
                           <th>Start Time</th>
                           <th>Time Limit</th>
                           <th>Request & Responses </th>
                           <th></th>
                         </tr>
                       </thead>
                       {% for sandbox in sandboxs %}
                         <tbody>
                             <tr>
                               <td >{{sandbox['_source']['start_time']}}</td>
                               <td> {{sandbox['_source']['time_limit']}}</td>
                               {% if sandbox['_source']['urls'] %}
                               <td>{{sandbox['_source']['urls']['traffic']|count}}&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="download_csv('/sandboxes/{{id}}/{{sandbox['_source']['uuid']}}')" class="btn-primary">Download</button>&nbsp;&nbsp;</td></td>
                               {% else %}
                               <td></td>
                               {% endif %}
                               <td>
                                 <button id="btn_toggle" class="btn-primary"  data-toggle="collapse" data-target="#accordion_{{loop.index}}">Show details</button>
                               </td>
                             </tr>
                             <tr>
                               <td data-orderable="false" colspan="4" class="bg-secondary">
                                 <div id="accordion_{{loop.index}}"  class="collapse">
                                   {% if sandbox['_source']['urls'] %}
                                   <div class="custom-control custom-switch" style="padding-bottom:10px;">
                                    <input type="checkbox" class="custom-control-input filterSwitch" id="filterSwitch{{loop.index}}"  checked="">
                                    <label class="custom-control-label"  for="filterSwitch{{loop.index}}">Toggle whitelist filter</label>
                                  </div>
                                   <div class="align-right">
                                  <table class="table-dark sandbox_detail">
                                    <thead class="thead-active">
                                    <tr>
                                      <th></th>
                                      <th>Status</th>
                                      <th> Size / Headers</th>
                                      <th>URL / IP & Domain</th>
                                      <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for req in sandbox['_source']['urls']['traffic']%}
                                        <tr>

                                          {% if req['type'] == 'request'%}
                                            <td style="font-size:12px;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg></td>
                                            <td>{{req['method']}}</td>
                                            <td>{{req['content size']}}</td>
                                            {% for domain in whitelist %}
                                              {%if domain in req['url']%}
                                                {% if not whitelisted %}
                                                <td class="filter_match" style="color:green;">{{req['url']}}</td>
                                                {% set whitelisted = 'true'%}
                                                {% endif %}
                                              {% endif %}
                                            {% endfor %}
                                              {% if not whitelisted %}
                                                <td>{{req['url']}}</td>
                                                {% endif %}
                                          <td></td>
                                          {% else %}
                                          <td style="font-size:12px;"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg></td>
                                          <td>{{req['status_code']}}</td>
                                          <td>{{req['headers']}}</td>
                                          {% for domain in whitelist %}
                                            {%if domain in req['server_domain']%}
                                              {% if not whitelisted %}
                                              <td class="filter_match" style="color:green;">{{req['server_ip']}} - {%if req['server_domain']%}{{req['server_domain']}}{%endif%}</td>
                                              {% set whitelisted = 'true'%}
                                              {% endif %}
                                            {% endif %}
                                          {% endfor %}
                                          {% if not whitelisted %}
                                              <td>{{req['server_ip']}} - {%if req['server_domain']%}{{req['server_domain']}}{%endif%}</td>
                                          {% endif %}
                                          <td>{{req['server_port']}}</td>
                                          {% endif %}
                                        </tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                                  {% else %}
                                    <span> No information about this report to display</span>
                                  {% endif %}

                                </div>
                              </td>
                            <td style="display:none;visbility: hidden;"></td><td style="display:none;visbility: hidden;"></td><td style="display:none;visbility: hidden;"></td>
                            </tr>


                         </tbody>


                   {% endfor %}
                   </tbody>
                </table>
                </div>


              </div>
              </div>
              </div>
        </div>
        <div class="tab-pane active fade" id="source">
          <br>
          <div class="container-fluid">
          	<div class="row">
          		<div class="col-md-4">
                <ul id="myUL">
                {%- for item in tree.children recursive %}
                    <li><span class="caret">{{ item.name }}</span>
                    {%- if item.children -%}
                        <ul class="nested">{{loop(item.children)}}</ul>
                    {%- endif %}</li>
                {%- endfor %}
                </ul>
          		</div>
          		<div class="col-md-8">
                <div class="source_code">
                <textarea  id="editor">  </textarea>
                </div>
                <br>
                <button class="btn-primary" onclick="format_code()">Auto-Format code</button>
          		</div>
          	</div>
            <div class="row">
              <div class="col-md-4">
                Yara Matches:
                <br>
                {% for tag in tags %}
                <span class="badge" style="background-color:{{tag[1]}}">{{tag[0]}}</span>
                <br>
                <ul style="list-style-type: circle;">
                  {% for match in tag[2] %}
                  {% set match = match.split('/') %}
                  <li>
                  <span class="match_span">{% for dir in match[3:] %}{{dir}}/{% endfor %}</span>
                  </li>
                  {% endfor %}
                </ul>
                {% endfor %}
              </div>
            </div>
          </div>
          <div class="container">
          <div class="row">
              <div class="col-md">

              </div>
              <div class="col" style="background-color:red;">
              <div>

              </div>
              </div>
              </div>

            </div>
        </div>
        <div class="tab-pane active fade" id="related">
            <h4 class="mt-2">Related tab content</h4>
            <p>placeholder for graph</p>
        </div>
        <div class="tab-pane  fade" id="comments">
          <p>placeholder for future comments section</p>
        </div>
        </div>
    <hr>
</div>
<script type="text/javascript">
  $SCRIPT_ROOT={{ request.script_root|tojson|safe }};
    var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
      theme: "material",
      autoRefresh: true,
      readOnly: true,

   });
   function download_csv(path) {
     window.location = $SCRIPT_ROOT + path;
   }


   function localLoad(files) {
       if (files.length == 1) {
            document.title = escape(files[0].name);
            var reader = new FileReader();
            reader.onload = function(e) {
              editor.setValue(e.target.result);
            };
            reader.readAsText(files[0]);
         }
    }

var file_type = ""
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    if(this.parentElement.querySelector(".nested") == null) {
      filename=this.innerText
      var file_path = [];
      $(this).parents('li').each(function() {
          file_path.push(this.firstChild.innerText)
      });
      file_path = file_path.reverse();
      file_path = file_path.join("/");
      file_path = "static/output/"+$('#ext_id').text()+"/"+file_path;
      $.ajax({
        type: 'POST',
        url:'/ext_file',
        data: {'file_path':file_path},
        success: function(content, textStatus, request){
          file_type = request.getResponseHeader('fileType');
            editor.setValue(content);
        }});

    }
    else{
      this.parentElement.querySelector(".nested").classList.toggle("active");
      this.classList.toggle("caret-down");
    };
  });
}

function toggle_filter(){
  $('.filter_match').parent("tr").toggle();
}
function format_code(){
  console.log(file_type)
  if (file_type=="js"){
    var currentCode = editor.getValue();
    var newCode = js_beautify(currentCode);
    editor.setValue(newCode);
    lineCount = editor.lineCount();
  //editor.autoFormatRange({line:0, ch:0}, {line:lineCount});
  }
  else{
    alert("At this time only formating JavaScript code is supported")
  }

};
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $('.filterSwitch').on('change.bootstrapSwitch', function(e) {
        toggle_filter();
    });
    $('.match_span').text(function(i,v){
      return v.slice(0,-1);
    });
    $('table#scan_table').DataTable( {
         "ordering": false,
        searching: false,
        "language": {
          "emptyTable": "No recent scans"
        },
         "sDom": 'Rfrtlip'

    } );
    $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}
