{% extends 'base.html' %}

{% block content %}
<h1>Extension report</h1>
<hr>
<div class="container">
    <div class="row" style="align-items: center;">
      <img style="width:64px;height:64px;" src="/static/output/{{id}}/{{icon}}"/>

        <div class="col-xs-6 col-sm-6">
            <div id="ext_name">
                <label>{{name}}</label>
            </div>
            <div id="text2">
              <label>Users: {{users}}</label>
            </div>
            <div id="text3">
              <label>ID: {{id}}</label>
            </div>
        </div>
    </div>
</div>
<div>
<hr>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">
      Permissions ({{perms|count}}):
      <br>
      <ul class="list-group" style="padding-bottom:5px;">
        {% for perm in perms%}
        <li class="list-group-item">{{perm}}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm">
      Static URLs ({{urls|count}}):
      <div style="overflow-y: scroll; max-height:200px;">
        <ul class="list-group" style="padding-bottom:5px;">
          {% for url in urls %}
            <li class="list-group-item font-small" style="font-size: 12px;">{{url}}</li>
          {% endfor %}
        </ul>
    </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg">
      Sandbox Runs ({{sandboxs|count}}):
      <div style="overflow-y: scroll; height:400px;">
        <ul class="list-group" style="padding-bottom:5px;">
          <tbody>
          {% for sandbox in sandboxs %}
            <li data-toggle="collapse" data-target="#accordion_{{loop.index}}" class="clickable list-group-item font-small" style="font-size: 12px; ">
              <table class = "sandbox_table">
                  <thead>
                    <tr>
                      <th>Start Time</th>
                      <th>Time Limit</th>
                      <th>URLs</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{sandbox['_source']['start_time']}}</td>
                      <td> {{sandbox['_source']['time_limit']}}</td>
                      <td>{{sandbox['_source']['urls']|count}}</td>
                    </tr>
                  </tbody>
                  </table>
              <div id="accordion_{{loop.index}}"  class="collapse">
                <hr>
                {% for url in sandbox['_source']['urls']%}
                {{url[0]}} {{url[1]}}<br>
                {% endfor %}
                </div>
            </li>
          {% endfor %}
          </tbody>
        </ul>
    </div>


  </div>
</div>





{% endblock %}
