{% extends 'base.html' %}

{% block content %}
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>

<h1>Extension report</h1>
<hr>
<div class="container">
    <div class="row" style="align-items: center;">
      <img style="width:64px;height:64px;" src="/static/output/{{id}}/{{icon}}"/>

        <div class="col-xs-6 col-sm-6">
            <div id="ext_name">
                <label>{{name}}</label>
            </div>
            <div id="text2">
              <label>Users: {{users}}</label>
            </div>
            <div id="text3">
              <span>ID: <label id="ext_id">{{id}}</label></span>
            </div>
        </div>
    </div>
</div>
<div>
<hr>
</div>

<div class="bs-example">
    <ul id="reportTab" class="nav nav-tabs">
        <li class="nav-item">
            <a href="#overview" class="nav-link active" data-toggle="tab">Overview</a>
        </li>
        <li class="nav-item">
            <a href="#source" class="nav-link" data-toggle="tab">Source code</a>
        </li>
        <li class="nav-item">
            <a href="#related" class="nav-link" data-toggle="tab">Related</a>
        </li>
        <li class="nav-item">
            <a href="#comments" class="nav-link" data-toggle="tab">Comments</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="overview">
            <br>
              <div class="row">
                <div class="col-sm-6">
                <div class="card">
                  <div class="card-header bg-primary d-flex justify-content-between align-items-center">
                  Permissions <span class="badge badge-primary badge-pill bg-secondary">{{perms|count}}</span>
                  </div>
                  <div style="overflow-y: scroll; max-height:200px;">
                  <ul class="list-group" style="padding-bottom:5px;">
                    {% for perm in perms%}
                    <li class="list-group-item">{{perm}}</li>
                    {% endfor %}
                  </ul>
                  </div>
                </div>
                </div>
                <div class="col-sm-6">
                <div class="card">
                  <div class="card-header bg-primary d-flex justify-content-between align-items-center">
                  Static URLs  <span class="badge badge-primary badge-pill bg-secondary">{{urls|count}}</span>
                  </div>
                  <div style="overflow-y: scroll; max-height:200px;">
                    <ul class="list-group" style="padding-bottom:5px;">
                      {% for url in urls %}
                        <li class="list-group-item font-small" style="font-size: 12px;">{{url}}</li>
                      {% endfor %}
                    </ul>
                </div>
                </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">

                <div class="card d-flex">
                  <div class="card-header bg-primary d-flex justify-content-between align-items-center">

                  Sandbox Runs  <span class="badge badge-primary badge-pill bg-secondary">{{sandboxs|count}}</span>
                  </div>
                  <div style="overflow-y: scroll; height:400px;">
                   <table class="table table-striped table-bordered sandbox_table table-dark">
                       <thead class="thead-dark">
                         <tr>
                           <th>Start Time</th>
                           <th>Time Limit</th>
                           <th>URLs</th>
                           <th></th>
                         </tr>
                       </thead>
                       {% for sandbox in sandboxs %}
                         <tbody>
                             <tr>
                               <td>{{sandbox['_source']['start_time']}}</td>
                               <td> {{sandbox['_source']['time_limit']}}</td>
                               <td>{{sandbox['_source']['urls']|count}}</td>
                               <td><button id="btn_toggle" class="btn-primary"  data-toggle="collapse" data-target="#accordion_{{loop.index}}">Show details</button></td>
                             </tr>
                             <tr>
                             <td colspan="4">
                               <div id="accordion_{{loop.index}}"  class="collapse">
                                <hr>
                                <table class="table-dark sandbox_detail">
                                  <thead class="thead-active">
                                  <tr>
                                    <th>Method</th>
                                    <th>URL</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                {% for url in sandbox['_source']['urls']%}
                                <tr>
                                  <td>{{url[0]}}</td>
                                  <td>{{url[1]}}<td>
                                </tr>
                                {% endfor %}
                                </tbody>
                              </table>
                                </div>
                            </td>
                         </tbody>


                   {% endfor %}
                   </tbody>
                </table>
                </div>


              </div>
              </div>
              </div>
        </div>
        <div class="tab-pane active fade" id="source">
          <br>
          <div class="container-fluid">
          	<div class="row">
          		<div class="col-md-4">
                <ul id="myUL">
                {%- for item in tree.children recursive %}
                    <li><span class="caret">{{ item.name }}</span>
                    {%- if item.children -%}
                        <ul class="nested">{{loop(item.children)}}</ul>
                    {%- endif %}</li>
                {%- endfor %}
                </ul>
          		</div>
          		<div class="col-md-8">
                <div class="source_code">
                <textarea  id="editor">
                </textarea>
                </div>
          		</div>
          	</div>
          </div>
          <div class="container">
          <div class="row">
              <div class="col-md">

              </div>
              <div class="col" style="background-color:red;">
              <div>

              </div>
              </div>
              </div>

            </div>
        </div>
        <div class="tab-pane active fade" id="related">
            <h4 class="mt-2">Related tab content</h4>
            <p>placeholder for graph</p>
        </div>
        <div class="tab-pane  fade" id="comments">
          <p>placeholder for future comments section</p>
        </div>
        </div>
    <hr>
</div>
<script type="text/javascript">
    var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
     theme: "material",
     lineNumbers: true,
     readOnly: false
   });

   function localLoad(files) {
       if (files.length == 1) {
            document.title = escape(files[0].name);
            var reader = new FileReader();
            reader.onload = function(e) {
              editor.setValue(e.target.result);
            };
            reader.readAsText(files[0]);
         }
    }
var toggler = document.getElementsByClassName("caret");
var i;

for (i = 0; i < toggler.length; i++) {
  toggler[i].addEventListener("click", function() {
    if(this.parentElement.querySelector(".nested") == null) {
      filename=this.innerText
      var file_path = [];
      $(this).parents('li').each(function() {
          file_path.push(this.firstChild.innerText)
      });
      file_path = file_path.reverse();
      file_path = file_path.join("/");
      file_path = "static/output/"+$('#ext_id').text()+"/"+file_path;
      $.post('/ext_file',
      {
        'file_path':file_path

      }, function(content) {
        $('textarea#editor').val(content);
        $('textarea#editor').hide();
        $('textarea#editor').show();
        var editor = CodeMirror.fromTextArea(document.getElementById('editor'), {
         theme: 'material',
         lineNumbers: true,
         readOnly: false
       });

       });
    }
    else{
      this.parentElement.querySelector(".nested").classList.toggle("active");
      this.classList.toggle("caret-down");
    };
  });
}
</script>
<script type="text/javascript">
  $(document).ready(function () {
    $('#scan_table').DataTable();
    $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}
