{% extends 'base.html' %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('a#update_all').bind('click', function() {
        //    $.getJSON('/update_all',
              //  function(data) {
                  window.alert("This button is not yet supported"");

//            });
            return false;
          });
        });
        $(function() {
          $('a#update_urls').bind('click', function() {
          //  $.getJSON('/update_urls',
            //    function(data) {
              //do nothing
        //    });
          window.alert("This button is not yet supported");
            return false;
          });
        });
</script>

<h1>Status Page</h1>
<br>
<div class="row">
<div class="col">
<div class="card">
  <div class="card-header bg-primary">
    Extension information
    </div>
    <ul class="list-group">
    <li class="list-group-item">
      Total extensions in database:&nbsp;&nbsp;&nbsp;&nbsp;</h4>
      <span class="badge badge-primary badge-pill">{{es_total}}</span>
      </li>
      <li class="list-group-item">
        Total extensions on disk:&nbsp;&nbsp;&nbsp;&nbsp;</h4>
         <span class="badge badge-primary badge-pill">{{disk_total}}</span>
         </li>
  </div>
  </div>
  <div class="col">
  <div class="card">
    <div class="card-header bg-primary">
    Other Information
    </div>
    </div>
    </div>
    </div>
        <br>
    <div class="row justify-content-center">
    <table class="table-bordered">
          <thead class="table-primary">
          <tr style="text-align: center;">
            <th>Scan ID<br></th>
            <th>Start time</th>
            <th>Extension Name</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td colspan="4" class="table-secondary" style="text-align: center; vertical-align: middle;">Active Queue</td>
        </tr>
        {% if jobs|length %}
          {% for job in jobs %}
            <tr>
              <td style="font-size:10px;">{{job[0]['id']}}</td>
              <td>{{job[0]['enqueued_at']}}</td>
              <td>{{job[1]}}</td>
              <td>{{job[2]}}</td>
            </tr>
          {% endfor %}
        {% else %}
        <tr>
          <td colspan="4" style="text-align: center; vertical-align: middle;">No items currently in the queue</td>
        </tr>
        {% endif %}
        <tr>
          <td colspan="4" class="table-secondary" style="text-align: center; vertical-align: middle;">Recent Scans</td>
        </tr>
        {% for scan in scans %}
          <tr>
            <td>{{scan['job_id']}}</td>
            <td>{{scan['start_time']}}</td>
            <td>{{scan['ext_id']}}</td>
            <td> {{scan['time_limit']}}</td>

          </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<br>
<br>
<br>
<form>
    <a href=# id='update_all'><button onclick="alert('This button is not yet supported');" class='btn btn-primary'>Update all</button></a>
</form>

{% endblock %}
