{% extends 'base.html' %}

{% block content %}
<link href="https://unpkg.com/tabulator-tables@4.8.3/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.8.3/dist/js/tabulator.min.js"></script>


<h1>Status Page</h1>
<br>
<div class="row">
<div class="col">
<div class="card">
  <div class="card-header bg-primary">
    Extension information
    </div>
    <ul class="list-group">
    <li class="list-group-item">
      Total extensions in database:&nbsp;&nbsp;&nbsp;&nbsp;</h4>
      <span class="badge badge-primary badge-pill">{{es_total}}</span>
      </li>
      <li class="list-group-item">
        Total extensions on disk:&nbsp;&nbsp;&nbsp;&nbsp;</h4>
         <span class="badge badge-primary badge-pill">{{disk_total}}</span>
         </li>
  </div>
  </div>
  <div class="col">
  <div class="card">
    <div class="card-header bg-primary">
    Other Information
    </div>
    <ul class="list-group">
    <li class="list-group-item">
      Build Version:&nbsp;&nbsp;</h4>
      <span class="badge badge-primary badge-pill">{{ver}}</span>
      </li>
      <li class="list-group-item">
        Registered Users:&nbsp;&nbsp;</h4>
        <span class="badge badge-primary badge-pill">{{user_count}}</span>
        </li>
    </div>
    </div>
    </div>
        <br>
    <div class="row justify-content-center">
    <table id="ext_table" data-toggle="table" data-sort-name="date" data-sort-order="desc"  class="table table-striped table-bordered table-sm scan_log_table" cellspacing="0" width="100%" style="padding:5px;">
          <thead class="table-primary">
          <tr class="table-primary" style="text-align: center;">
            <th>Extension Name</th>
            <th>ID<br></th>
            <th data-field="date" data-sortable="true">Start time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody class="table-bordered">
        {% for scan in scans %}
          <tr  class="table-dark " onclick="document.location = '/report/{{scan['_source']['ext_id']}}'">
            <td>{{scan['_source']['name']}}
            <td>{{scan['_source']['ext_id']}}</td>
            <td>{{scan['_source']['enqueued_at']}}</td>
            <td>
              {% if scan['_source']['static_status'] %}
                {% if scan['_source']['static_status'] == 'Queued' %}
                  <span class=" badge badge-warning badge-pill">Static: {{scan['_source']['static_status']}}</span>
                {% endif %}
                {% if scan['_source']['static_status'] == 'Started'%}
                  <span class="badge badge-primary badge-pill">Static: {{scan['_source']['static_status']}}</span>
                {% endif %}
                {% if scan['_source']['static_status'] == 'Finished' %}
                  <span class=" badge badge-success badge-pill">Static: {{scan['_source']['static_status']}}</span>
                {% endif %}
              {% endif %}
              {% if scan['_source']['dynamic_status'] %}
                {% if scan['_source']['dynamic_status'] == 'Queued' %}
                  <span class=" badge badge-warning badge-pill">Dynamic: {{scan['_source']['dynamic_status']}}</span>
                {% endif %}
                {% if scan['_source']['dynamic_status'] == 'Started'%}
                  <span class="badge badge-primary badge-pill">Dynamic: {{scan['_source']['dynamic_status']}}</span>
                {% endif %}
                {% if scan['_source']['dynamic_status'] == 'Finished' %}
                  <span class=" badge badge-success badge-pill">Dynamic: {{scan['_source']['dynamic_status']}}</span>
                {% endif %}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
<br>

<script type="text/javascript">
  $(document).ready(function () {
    $('#ext_table').DataTable( {
        "order": [[ 2, "desc" ]],
        "language": {
          "emptyTable": "No recently ran scans available"
        }
    } );
    $('.dataTables_length').addClass('bs-select');
});
</script>
{% endblock %}
