{% extends 'base.html' %}

{% block content %}

<h1>Detection Rules</h1>
<hr>
<p>Community Detections:</p>
<div class="row">
    <div class="container">
      <div class="row detection dflex">
        <div style="border-right: 1px solid">
          <div class="custom-control custom-switch" >
            <input type="checkbox" class="custom-control-input" id="ruleSwitch" checked="">
            <label class="custom-control-label" for="ruleSwitch">Advertizus</label>&nbsp;&nbsp;
          </div>
        </div>
        <div class="detection_desc" onclick="show_modal()">&nbsp;&nbsp;Lengthy description of the rule listed.</div>
      </div>
    </div>
</div>
<div class="row">
    <div class="container">
      <div class="row detection dflex">
        <div style="border-right: 1px solid">
          <div class="custom-control custom-switch" >
            <input type="checkbox" class="custom-control-input" id="ruleSwitch2" checked="">
            <label class="custom-control-label" for="ruleSwitch2">Google Analytics</label>&nbsp;&nbsp;
          </div>
        </div>
        <div class="detection_desc">&nbsp;&nbsp;Lengthy description of the rule listed.</div>
      </div>
    </div>
</div>
<hr>
<p>My Detections: </p>
{% if user_rules %}
  {% for rule in user_rules%}
    <div class="row" >
        <div class="container">
          <div class="row detection dflex">
            <div style="border-right: 1px solid;">
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="ruleSwitch_{{rule.id}}" checked="">
                <label class="custom-control-label" for="ruleSwitch_{{rule.id}}">{{rule.name}}</label>&nbsp;&nbsp;
              </div>
            </div>
            <div class="col" onclick="show_modal({{rule.id}})">
            <div class="detection_desc">{{rule.description}}</div>
            </div>
            <div class="col align-right" style="text-align:right;" onclick="show_modal({{rule.id}})">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </div>
          </div>
        </div>
    </div>
  {% endfor %}
{% else %}
<span> You haven't created any yara rules yet!</span>
{% endif %}
<hr>
<button id="btn_toggle" class="btn-primary" onclick="new_rule()">Add New Rule</button>&nbsp;&nbsp;
<button id="btn_toggle" class="btn-primary">Run Retrohunt</button>&nbsp;&nbsp;
<button id="btn_toggle" class="btn-primary">Check Rule Syntax</button>&nbsp;&nbsp;

{% if user_rules %}
  {% for rule in user_rules%}

<div class="modal fade" id="rule_{{rule.id}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rule Editor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="detection_form">
          <div class="source_code">
        <textarea id="code_{{rule.id}}">{{rule.yara}}</textarea>
      </div>
  </form>
      </div>
      <div class="modal-footer">
        <a id="report_button"><button type="button" class="btn btn-primary" href="">Save Changes</button></a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
<div class="modal fade" id="newRule">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rule Editor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="detection_form" action="{{ url_for('yara_edit') }}" method="post">
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Rule name</span>
          </div>
          <input type="text" class="form-control" required name="rule_name" placeholder="Example Rule" aria-label="Rule Name">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
          </div>
          <input type="text" class="form-control" required name="rule_desc" placeholder="Hunting for something..." aria-label="Rule Name">
        </div>
        <br>
          <div class="source_code">
        <textarea name="new_rule" id="new_rule_code">
          rule example_rule
            {
                strings:
                    $string1 = "requests"
                    $regex1 = "[a-z]{32}"
                condition:
                    $regex1 and #string1 > 5
            }
        </textarea></div>
          <fieldset >
            <input type="checkbox" name="communitySwitch" autocomplete="off">
              Contribute to community rule base?
          </fieldset>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
      </div>
    </form>
    </div>
  </div>
</div>


<script type="text/javascript">
  function show_modal(rule_id) {
    modal_id = '#rule_'+rule_id
    $(modal_id).modal('show');

  }
  function new_rule() {
    $('#newRule').modal('show');
    new_rule_editor.focus();
  }


CodeMirror.defineMode("yara", function(config) {
    function words(str) {
      var obj = {}, words = str.split(" ");
      for (var i = 0; i < words.length; ++i) obj[words[i]] = true;
      return obj;
    }
    var keywords = words("all and any ascii at base64 base64wide condition contains endswith entrypoint filesize for " +
                         "fullword global icontains iendswith import in include int16 int32 int8 istartswith matches meta " +
                         "nocase not of or private rule startswith strings them uint16 uint32 " +
                         "uint8 wide xor");

    var atoms = {"true": true, "false": true};

    var isOperatorChar = /[+\-*&%=<>!?|\/]/;

    function tokenBase(stream, state) {
      var ch = stream.next();
      if (ch == "#" && state.startOfLine) {
        stream.skipToEnd();
        return "meta";
      }
      if (/[\[\]{}\(\),;\:\.]/.test(ch)) {
        return null
      }
      if (/\d/.test(ch)) {
        stream.eatWhile(/[\w\.]/);
        return "number";
      }
      if (ch == "/") {
        if (stream.eat("/")) {
          stream.skipToEnd();
          return "comment";
        }
        if (stream.eat("*")) {
          state.tokenize = tokenComment;
          return tokenComment(stream, state);
        }
      }
      if (ch == '"' || ch == '/') {
        state.tokenize = tokenString(ch);
        return state.tokenize(stream, state);
      }
      if (isOperatorChar.test(ch)) {
        stream.eatWhile(isOperatorChar);
        return "operator";
      }
      stream.eatWhile(/[\w\$_]/);
      var cur = stream.current();
      if (keywords.propertyIsEnumerable(cur)) return "keyword";
      if (atoms.propertyIsEnumerable(cur)) return "atom";
      return "word";
    }

    function tokenString(quote) {
      return function(stream, state) {
        var escaped = false, next, end = false;
        while ((next = stream.next()) != null) {
          if (next == quote && !escaped) {end = true; break;}
          escaped = !escaped && next == "\\";
        }
        if (end || !escaped) state.tokenize = null;
        return "string";
      };
    }

    function tokenComment(stream, state) {
      var maybeEnd = false, ch;
      while (ch = stream.next()) {
        if (ch == "/" && maybeEnd) {
          state.tokenize = null;
          break;
        }
        maybeEnd = (ch == "*");
      }
      return "comment";
    }

    // Interface

    return {
      startState: function(basecolumn) {
        return {tokenize: null};
      },

      token: function(stream, state) {
        if (stream.eatSpace()) return null;
        var style = (state.tokenize || tokenBase)(stream, state);
        return style;
      },

      electricChars: "{}"
    };
});
CodeMirror.defineMIME("text/yara", "yara");
CodeMirror.defineMIME("text/x-yara", "yara");

 var new_rule_editor = CodeMirror.fromTextArea(document.getElementById("new_rule_code"), {
  theme: "material",
  autoRefresh: true,
  mode: "text/x-yara"
  });
// create codemirror instances for all rules 
  {% if user_rules %}
    {% for rule in user_rules%}
    editor_id = "code_"+{{rule.id}}
    var editor = CodeMirror.fromTextArea(document.getElementById(editor_id), {
     theme: "material",
     autoRefresh: true,
     mode: "text/x-yara"
     });
  {% endfor %}
  {% endif %}
</script>
{% endblock %}
