{% extends 'base.html' %}

{% block content %}

<h1>Detection Rules</h1>
<hr>
<div class="bs-example">
    <ul  class="nav nav-tabs">
        <li class="nav-item">
            <a href="#mine" class="nav-link active" data-toggle="tab">My Detection Rules </a>
        </li>
        <li class="nav-item">
            <a href="#community" class="nav-link" data-toggle="tab">Community Detections</a>
        </li>

    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="mine">
        <br>
        <p>My Detections: </p>
        {% if user_rules %}
          {% for rule in user_rules%}
            <div class="row" >
                <div class="container">
                  <div class="row detection dflex">
                    <div style="border-right: 1px solid;">
                      <div class="custom-control custom-switch">

                        {% if rule.enabled %}
                            <input type="checkbox" class="custom-control-input" onclick="enable_rule({{rule.id}});" id="ruleSwitch_{{rule.id}}" checked="">
                            <label class="custom-control-label"  for="ruleSwitch_{{rule.id}}">{{rule.name}}</label>&nbsp;
                         {% else %}
                             <input type="checkbox" class="custom-control-input" onclick="enable_rule({{rule.id}});" id="ruleSwitch_{{rule.id}}">
                             <label class="custom-control-label"  for="ruleSwitch_{{rule.id}}">{{rule.name}}</label>&nbsp;
                        {% endif %}
                      </div>
                    </div>
                    <div  onclick="show_modal({{rule.id}})">
                    <div class="detection_desc">&nbsp;{{rule.description}}</div>
                    </div>
                    <div class="col align-right" style="text-align:right;" onclick="show_modal({{rule.id}})">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg>
                    </div>
                    <div class="col align-right" style="text-align:right; max-width:10px;" onclick="delete_rule({{rule.id}})">
                      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                      </svg>
                    </div>
                    <div >
                      <span onclick="show_yara({{rule.id}})" style="font-size:12;"> Hits: <b style="padding-left:3px;">{{rule.hits|length}}</b></span>
                    </div>
                  </div>
                </div>
            </div>
          {% endfor %}
        {% else %}
        <span> You haven't created any yara rules yet!</span>
        {% endif %}
        <hr>
        <button id="btn_toggle" class="btn-primary" onclick="new_rule()">Add New Rule</button>&nbsp;&nbsp;
        <button id="btn_toggle" class="btn-primary">Run Retrohunt</button>&nbsp;&nbsp;

        </div>
        <div class="tab-pane fade show" id="community">
          <br>
          <p>Community Detections:</p>
          {% if community_rules %}
            {% for rule in community_rules %}
              <div class="row" >
                  <div class="container">
                    <div class="row detection dflex">
                      <div style="border-right: 1px solid;">
                        <div class="custom-control custom-switch">
                          {% if rule.enabled %}
                          <input type="checkbox" class="custom-control-input" onclick="enable_rule({{rule.id}});"id="community_ruleSwitch_{{rule.id}}" disabled checked="">
                          <label class="custom-control-label" for="community_ruleSwitch_{{rule.id}}">{{rule.name}}</label>&nbsp;
                          {% else %}
                          <input type="checkbox" class="custom-control-input" onclick="enable_rule({{rule.id}});"id="community_ruleSwitch_{{rule.id}}" disabled>
                          <label class="custom-control-label" for="community_ruleSwitch_{{rule.id}}">{{rule.name}}</label>&nbsp;
                          {% endif %}
                        </div>
                      </div>
                      <div onclick="read_modal({{rule.id}})">
                      <div class="detection_desc">&nbsp;{{rule.description}}</div>
                      </div>
                      <div class="col align-right" style="text-align:right;" onclick="read_modal({{rule.id}})">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-eye" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                          <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                      </div>
                      <div >
                        <span onclick="show_yara({{rule.id}})" style="font-size:12;">Hits: <b style="padding-left:3px;">{{rule.hits|length}}</b></span>
                      </div>
                    </div>
                  </div>
              </div>

            {% endfor %}
          {% endif %}
        </div>
    </div>
<hr>
{% if community_rules %}
  {% for rule in community_rules%}
<div class="yara_matches" style="display: none;" id="yara_{{rule.id}}">
<br>
Rule: <span style="color:{{rule.tag_color}};">{{rule.name}}</span>
<br>
Author: <span>{{rule.owner}}</span>
<br>
Matches: <span id="yara_rule_matches">{{rule.hits|length}}</span>
<table class="table table-hover">
  <thead>
  <th scope="col">Extension ID</th>
  <th scope="col">Name</th>
  <th scope="col">Users</th>
  <th scope="col">Matched Files</th>
  </thead>
<tbody>
</tr>
{% for r in rule.hits %}
<tr onclick="window.open('/report/{{r.ext_id}}', '_blank');"class="row_extid table">
  <td scope="row">{{r[0].ext_id}}</td>
  <td scope="row">{{r[1].full_name}}</td>
  <td scope="row">{{r[1].users}}</td>
  <td scope="row">{{r[0].hits|length}}</td>
</tr>
{% endfor %}

</tbody>
</table>
</div>
{% endfor %}
{% endif %}
{% if user_rules %}
  {% for rule in user_rules%}
<div class="yara_matches" style="display: none;" id="yara_{{rule.id}}">
<br>
Rule: <span style="color:{{rule.tag_color}};"id="yara_rule_name">{{rule.name}}</span>
<br>
Author: <span>{{rule.owner}}</span>
<br>
Matches: <span id="yara_rule_matches">{{rule.hits|length}}</span>
<table class="table table-hover">
  <thead>
  <th scope="col">Extension ID</th>
  <th scope="col">Name</th>
  <th scope="col">Users</th>
  <th scope="col">Matched Files</th>
  </thead>
<tbody>
</tr>
{% for r in rule.hits %}
<tr onclick="window.open('/report/{{r.ext_id}}', '_blank');"class="row_extid table">
  <td scope="row">{{r[0].ext_id}}</td>
  <td scope="row">{{r[1].full_name}}</td>
  <td scope="row">{{r[1].users}}</td>
  <td scope="row">{{r[0].hits|length}}</td>
</tr>
{% endfor %}

</tbody>
</table>
</div>
{% endfor %}
{% endif %}


{% if user_rules %}
  {% for rule in user_rules%}
<div class="modal fade" id="rule_{{rule.id}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detection Rule: <span style="color:{{rule.tag_color}}">{{rule.name}}</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="detection_form" action="{{ url_for('yara_update') }}" method="post">
      <div class="modal-body">
          <div class="source_code">
        <textarea name="code_{{rule.id}}" id="code_{{rule.id}}">{{rule.yara}}</textarea>
      </div>
        <fieldset >
          Tag Color:&nbsp;&nbsp;
          <input id="color-picker{{rule.id}}" style="max-width:85px;margin-top:10px;background-color:{{rule.tag_color}}" name="tag_color" value='{{rule.tag_color}}' />
          <br>
          {% if rule.global_rule == True %}
          <input type="checkbox" name="communitySwitch" autocomplete="off" checked="">
          {% else %}
          <input type="checkbox" name="communitySwitch" autocomplete="off">
          {% endif %}
            Contribute to community rule base?
          <input type="text" name="rule_id" value="{{rule.id}}" style="display:none;">
        </fieldset>
      </div>
      <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
      </div>
      </form>
      </div>
      </div>
      </div>
{% endfor %}
{% endif %}
{% if community_rules %}
  {% for rule in community_rules %}
<div class="modal fade" id="readrule_{{rule.id}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detection Rule: <span style="color:{{rule.tag_color}}">{{rule.name}}</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="detection_form">
          <div class="source_code">
        <textarea id="readcode_{{rule.id}}">{{rule.yara}}</textarea>
      </div>
  </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
<div class="modal fade" id="newRule">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Rule Editor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="detection_form" action="{{ url_for('yara_edit') }}" method="post">
      <div class="modal-body">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Rule name</span>
          </div>
          <input type="text" class="form-control" required name="rule_name" placeholder="Example Rule" aria-label="Rule Name">
        </div>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Description</span>
          </div>
          <input type="text" class="form-control" required name="rule_desc" placeholder="Hunting for something..." aria-label="Rule Name">
        </div>
        <br>
          <div class="source_code">
        <textarea name="new_rule" id="new_rule_code">
rule example_rule
  {
      strings:
          $string1 = "requests"
          $regex1 = "[a-z]{32}"
      condition:
          $regex1 and #string1 > 5
  }
        </textarea></div>
          <fieldset >
            Tag Color:&nbsp;&nbsp;
            <input id="color-picker" style="max-width:85px;margin-top:10px;background-color:#93c47d;" name="tag_color" value='##93c47d' />
            <br>
            <input type="checkbox" name="communitySwitch" autocomplete="off">
              Contribute to community rule base?
          </fieldset>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel </button>
      </div>
    </form>
    </div>
  </div>
</div>


<script type="text/javascript">
  function enable_rule(rule_id){
    switch_id = '#ruleSwitch_'+rule_id
    if($(switch_id)[0].checked == true){
      console.log("checked");
      state = "on"
    }
    else{
      state = "off"
    }
    $.ajax({
      url: "/yara/toggle",
      data: {'state':state,'rule_id':rule_id},
      method: "POST",
      dataType: "json"
  });
  location.reload(true);

}
  function delete_rule(rule_id){
    var answer = window.confirm("Are you sure you want to delete this?");
    if (answer) {
      $.ajax({
        url: "/yara/delete",
        data: {'rule_id':rule_id},
        method: "POST",
        dataType: "json",
        success: function(data, status, request) {
          console.log("done");
        },
        error: function(jqXHR, textStatus) {
          window.location = "/yara"
        }
    });
  }
  else {
    console.log("no delete then");
  }
}
  function show_modal(rule_id) {
    modal_id = '#rule_'+rule_id
    $(modal_id).modal('show');
  }
  function show_yara(rule_id) {
    var all = document.getElementsByClassName('yara_matches');
    for (var i = 0; i < all.length; i++) {
      all[i].style.display = "none";
    }
    div = 'yara_'+rule_id
    var x = document.getElementById(div);
      if (x.style.display === "none") {
        x.style.display = "inline";
      } else {
        x.style.display = "none";
      }
  }
  function read_modal(rule_id) {
    modal_id = '#readrule_'+rule_id
    $(modal_id).modal('show');
  }
  function new_rule() {
    $('#newRule').modal('show');
    new_rule_editor.focus();
  }

//load_ext_data();
CodeMirror.defineMode("yara", function(config) {
    function words(str) {
      var obj = {}, words = str.split(" ");
      for (var i = 0; i < words.length; ++i) obj[words[i]] = true;
      return obj;
    }
    var keywords = words("all and any ascii at base64 base64wide condition contains endswith entrypoint filesize for " +
                         "fullword global icontains iendswith import in include int16 int32 int8 istartswith matches meta " +
                         "nocase not of or private rule startswith strings them uint16 uint32 " +
                         "uint8 wide xor");

    var atoms = {"true": true, "false": true};

    var isOperatorChar = /[+\-*&%=<>!?|\/]/;

    function tokenBase(stream, state) {
      var ch = stream.next();
      if (ch == "#" && state.startOfLine) {
        stream.skipToEnd();
        return "meta";
      }
      if (/[\[\]{}\(\),;\:\.]/.test(ch)) {
        return null
      }
      if (/\d/.test(ch)) {
        stream.eatWhile(/[\w\.]/);
        return "number";
      }
      if (ch == "/") {
        if (stream.eat("/")) {
          stream.skipToEnd();
          return "comment";
        }
        if (stream.eat("*")) {
          state.tokenize = tokenComment;
          return tokenComment(stream, state);
        }
      }
      if (ch == '"' || ch == '/') {
        state.tokenize = tokenString(ch);
        return state.tokenize(stream, state);
      }
      if (isOperatorChar.test(ch)) {
        stream.eatWhile(isOperatorChar);
        return "operator";
      }
      stream.eatWhile(/[\w\$_]/);
      var cur = stream.current();
      if (keywords.propertyIsEnumerable(cur)) return "keyword";
      if (atoms.propertyIsEnumerable(cur)) return "atom";
      return "word";
    }

    function tokenString(quote) {
      return function(stream, state) {
        var escaped = false, next, end = false;
        while ((next = stream.next()) != null) {
          if (next == quote && !escaped) {end = true; break;}
          escaped = !escaped && next == "\\";
        }
        if (end || !escaped) state.tokenize = null;
        return "string";
      };
    }

    function tokenComment(stream, state) {
      var maybeEnd = false, ch;
      while (ch = stream.next()) {
        if (ch == "/" && maybeEnd) {
          state.tokenize = null;
          break;
        }
        maybeEnd = (ch == "*");
      }
      return "comment";
    }

    // Interface

    return {
      startState: function(basecolumn) {
        return {tokenize: null};
      },

      token: function(stream, state) {
        if (stream.eatSpace()) return null;
        var style = (state.tokenize || tokenBase)(stream, state);
        return style;
      },

      electricChars: "{}"
    };
});
CodeMirror.defineMIME("text/yara", "yara");
CodeMirror.defineMIME("text/x-yara", "yara");

 var new_rule_editor = CodeMirror.fromTextArea(document.getElementById("new_rule_code"), {
  theme: "material",
  autoRefresh: true,
  mode: "text/x-yara"
  });
// create codemirror instances for all rules
  {% if user_rules %}
    {% for rule in user_rules%}
    editor_id = "code_"+{{rule.id}}
    var editor = CodeMirror.fromTextArea(document.getElementById(editor_id), {
     theme: "material",
     autoRefresh: true,
     mode: "text/x-yara"
     });
     editor.toggleOverwrite(); editor.toggleOverwrite();
  {% endfor %}
  {% endif %}
  {% if community_rules %}
    {% for rule in community_rules %}
    editor_id = "readcode_"+{{rule.id}}
    var editor = CodeMirror.fromTextArea(document.getElementById(editor_id), {
     theme: "material",
     autoRefresh: true,
     readOnly: true,
     mode: "text/x-yara"
     });
     editor.toggleOverwrite(); editor.toggleOverwrite();
  {% endfor %}
  {% endif %}

  {% if user_rules %}
    {% for rule in user_rules%}
    $('#color-picker{{rule.id}}').spectrum({
      type: "component"
    });
    $('#color-picker{{rule.id}}').on('change.spectrum move.spectrum', function() {
      $('#color-picker{{rule.id}}').css("background-color", $('#color-picker{{rule.id}}').val());
    })
  {% endfor %}
  {% endif %}
  $('#color-picker').spectrum({
    type: "component"
  });
  $('#color-picker').on('change.spectrum move.spectrum', function() {
    $('#color-picker').css("background-color", $('#color-picker').val());
  })
  </script>
{% endblock %}
